{% extends "base.html" %}

{% block title %}Update Task{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center rounded-top-4">
                    <h4 class="mb-0">Update Task</h4>
                </div>

                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label">Title</label>
                            <input type="text" name="title" class="form-control" value="{{ task.title }}" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <textarea name="description" class="form-control">{{ task.description }}</textarea>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Due Date</label>
                            <input type="date" name="due_date" class="form-control" value="{{ task.due_date }}">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Status</label>
                            <select name="status" class="form-select">
                                <option value="pending" {% if task.status == 'pending' %}selected{% endif %}>Pending</option>
                                <option value="completed" {% if task.status == 'completed' %}selected{% endif %}>Completed</option>
                            </select>
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-success">Update Task</button>
                        </div>
                    </form>
                </div>

                <div class="card-footer text-center">
                    <a href="{% url 'task_list' %}"  class="text-decoration-none fw-semibold">← Back</a>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
